.skill {
  width: Hug (89px);
  height: Hug (56px);
  padding: 16px 24px 16px 24px;
  border-radius: 16px;
  gap: 10px;
  box-shadow: 0px 4px 10px 0px rgba(142, 202, 230, 0.2);
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  background: rgba(232, 233, 235, 1);
  margin: 0px;
}