.about-main {
  height: calc(100vh-100px);
}

.about {
  /* background-color: red; */
  margin-top: 100px;
  background: url("../../assets/rectangle3.png") 100%;
  max-width: 1440px;
  width: 100%;
  height: 100vh;
}

.about-hints {
  padding-top: 128px;
}

.about-title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.about-hr {
  width: 48px;
  height: 8px;
  /* top: 1216px;
left: 696px; */
  border-radius: 4000px;
  background: rgba(2, 48, 71, 1);
  border: none;
}

.about-subtitle {
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
}

.know {
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
}

.know-me > p{
  font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: left;

font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
margin-bottom: 48px;
}

.linkedin {
  font-size: 20px;
  font-weight: 400;
  color: #219ebc;
}

.about-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 106px;
}

.my-skills{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.skill {
  width: Hug (89px);
  height: Hug (56px);
  padding: 16px 24px 16px 24px;
  border-radius: 16px;
  gap: 10px;
  box-shadow: 0px 4px 10px 0px rgba(142, 202, 230, 0.2);
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  background: rgba(232, 233, 235, 1);
  margin: 0px;
}
